* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo{
    text-align: center;
}

#quadro{
    text-align: center;
}

#entrada{
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 5px solid gray;
    margin-top: 15px;
    margin-bottom: 15px;
}

#dica{
    width: 300px;
    height: 100px;
    border: 5px solid black;
}

#texto{
    margin-top: 25px;
    height: 50px;
    text-align: center;
}

#ajuste{
    display: flex;
    justify-content: center;
}